* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#main{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 32% 50% 18%;
}

#left-top-left{
    /* background-color: crimson; */
    padding: 40px;
}

#square{
    height: 25px;
    width: 25px;
    rotate: 45deg;
    background-color: #000000;
}

#left-top-right{
    /* background-color:rgb(56, 19, 83); */
    padding: 40px;
    text-align: right;
}

#left-top-right h4{
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 400;
}

#left-top-right h5{
    font-size: 12px;
    font-weight: 400;
    color: #666;
    margin-bottom: 4px;
}

#left-top-right h6{
    display: none;
}

#left-center{
    /* background-color: royalblue; */
    grid-column: 1/3;
    padding-left: 40px;
    padding-top: 25px;

}

#left-center h1{
    font-size: 5.5vw;
    text-transform: uppercase;
    line-height: 5vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#left-center h1:nth-child(2){
    margin-left: 18%;
}

#left-center h1:nth-child(4){
    margin-left: 32%;
}

#left-bottom{
    /* background-color: chartreuse; */
    grid-column: 1/3;
    padding: 30px;
}

#left-bottom p{
    width: 40%;
    font-size: 12px;
    font-weight: 400;
    color: #666;
}

#right{
    /* background-color: blueviolet; */
    grid-column: 3;
    grid-row: 1/4;
    padding: 40px 150px 40px 0;
}

#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    justify-items: left;
    border-radius: 5px;
    object-position: 50% 20%;
}

#arrow{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    background-color: orangered;
    color: white;
    border-radius: 50%;
}

#arrow h4{
    font-size: 30px;
    font-weight: 100;
}

@media (max-width:600px) {
    #main{
        grid-template-columns: 50% 50%;
        grid-template-rows: 9% 40% 8% 43%;
    }

    #left-top-left{
        padding: 20px;
    }

    #square{
        height: 15px;
        width: 15px;
    }

    #left-top-right{
        padding: 20px;
    }

    #left-top-right h4{
        display: none;
    }
    
    #left-top-right h5{
        display: none;
    }

    #left-top-right h6{
        display: initial;
        font-size: 20px;
    }

    #left-center{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    #left-center h1{
        font-size: 15vw;
        line-height: 15vw;
    }
    
    #left-bottom{
        grid-column: 1/3;
        padding: 0px 0px 0px 20px;
    }
    
    #left-bottom p{
        width: 90%;
        font-size: 12px;
    }

    #right{
        grid-column: 1/3;
        grid-row: 4;
        padding: 20px;
    }

    #arrow{
        top:59%;
        left: 50%;
        padding: 20px;
        transform: translate(-50%, -50%) rotate(90deg) ;
    }
    
    #arrow h4{
        font-size: 20px;
        font-weight: 100;
    }
}